.detail {
  text-align: center;
}

.detail img {
  width: 100%;
    border-width: 20;
    border-style: solid;
    border-color: #1b1b1b;
    border-radius: 12px;
  /* color: #fff;
    background-color: #1b1b1b;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 1rem auto;
    max-width: 40rem;
    text-align: center; */
}
